.badge {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.badge-cree {
  background-color: orange;
}

.badge-termine {
  background-color: green;
}

.badge-attente {
  background-color: gray;
}

.badge-cours {
  background-color: royalblue;
}